.center{
    position: fixed;
    width: 400px;
    height: 200px;
    background-color: #ccc;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;

}
.radius_1{
    background-color: #fc0;
    -webkit-border-radius: 0 0 50px 0;
    -moz-border-radius: 0 0 50px 0;
    border-radius: 0 0 50px 0;
    height: 50px;
    width: 50px;
}
.radius_2{
    position: absolute;
    background-color: #fc0;
    -webkit-border-radius: 50px 0 0 0;
    -moz-border-radius: 50px 0 0 0;
    border-radius: 50px 0 0 0;
    height: 50px;
    width: 50px;
    right: 0;
    bottom: 0;
}
