
body {
	font-family: '微软雅黑';
	background-color: #dedede;
}

/*navigation*/
.nav{
    width:100%;
    height:60px;
    background-color: #333;
}
.nav .logo{
    float: left;
    width:120px;
    height: 40px;
    margin: 10px 0 10px 40px;
    background-image: url(../images/bd_logo.png);
}
.nav .link{
    float: right;
    margin: 10px 20px 10px 0;
    text-align:center;
}
.nav .link li{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    color: #000;
}
.nav .link li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

/*article */

.article{
    width: 95%;
    background-color: white;
    margin-top: 20px;
    padding: 20px 15px 20px 15px;
    margin-left: auto;
    margin-right: auto;
}
.subtitle, .author{
    color: #6f624f;
}
.main_text p{
    text-indent: 2em;
}
.article ul{
    list-style: none;
}

/*picture*/
.pic{
    border: 1px solid #cbcbcb;
    padding: 10px;
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
}
.pic p{
    text-align: center;
}
.pic img{
    width:200px;
}

/*table*/
.table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.table thead{
    background-color: #333;
    color: white;
}
.table tbody{
    font-size: 15px;
}
.table tfoot{
    background: #ccc;
}

/*sidebar*/
.sidebar{
    border-left-style: solid;
    border-left-width: 6px;
    border-color: #cccccc;
    padding-left: 0.5em;
    line-height: 2em;
}

/*form*/
.form{
    border: solid;
    width: 100%;
    margin:20px auto;
    overflow: auto;
}
.form .form_text{
    margin-right: 60%;
    border: solid;
    text-align: right;


}
.form .form_text .form_text_name{
    text-align: right;
    width: 150px;
    display: inline-block;
}
.form .form_text .form_text_value{
    border: solid;
    border-color: red;
    text-align: 80%;

}
